//====================================================================================================
.hello {
	padding: 38px 0px 70px 0px;
	@media (max-width: $md1+px) {
		padding: 0px 0px 70px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 0px 0px 60px 0px;
	}
	&__container {
		display: flex;
		@media (max-width: $md3+px) {
			text-align: center;
			flex-direction: column-reverse;
		}
	}
	&__content {
		align-items: flex-start;
		flex: 1 1 auto;
		padding: 18px 110px 0px 0px;
		*:last-child {
			margin-bottom: 0;
		}
		@media (max-width: $md1+px) {
			padding: 18px 50px 0px 0px;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 0px 0px;
		}
	}
	&__title {
		margin: 0px 0px 25px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__text {
		margin: 0px 0px 35px 0px;
		@media (max-width: $md3+px) {
			padding: 0px 15px;
			margin: 0px 0px 25px 0px;
		}
	}
	&__btn {
		margin: 0px 0px 25px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__avatar {
		border-radius: 50%;
		overflow: hidden;
		height: 243px;
		flex: 0 0 243px;
		box-shadow: -6px 13px 0 0 #edf7fa;
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			height: 170px;
			width: 170px;
			margin: 0px 0px 40px 0px;
		}
	}
}
//========================================================================================================================================================
.recent-posts {
	background-color: #edf7fa;
	padding: 25px 0px 17px 0px;
	@media (max-width: $md3+px) {
		padding: 25px 0px 27px 0px;
	}
	&__container {
	}
	&__header {
		display: flex;
		margin: 0px 0px 20px 0px;
	}
	&__title {
		flex: 1 1 auto;
		padding: 0px 20px 0px 0px;
	}
	&__view-all {
		flex: 0 0 auto;
		color: #00a8cc;
		font-size: 1.6rem;
		line-height: 23.5 / 16 * 100%;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	&__items {
		margin: 0px -10px;
		@media (min-width: $md3+px) {
			display: flex;
		}
	}
	&__column {
		flex: 0 1 50%;
		padding: 0px 10px;
		margin: 0px 0px 17px 0px;
	}
	&__item {
	}
}
.recent-post {
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	padding: 20px;
	height: 100%;
	@media (max-width: $md3+px) {
		padding: 15px;
	}
	*:last-child {
		margin-bottom: 0;
	}
	&__title {
		font-size: 2.6rem;
		font-weight: 700;
		line-height: 38 / 26 * 100%;
		color: inherit;
		transition: color 0.3s ease 0s;
		display: inline-block;
		margin: 0px 0px 17px 0px;
		&:hover {
			color: #ff6464;
		}
		@media (max-width: $md3+px) {
			font-size: 2.2rem;
			margin: 0px 0px 10px 0px;
		}
	}
	&__info {
		margin: 0px 0px 15px 0px;
		font-size: 1.8rem;
		line-height: 26 / 18 * 100%;
		span {
			margin: 0px 10px;
		}
		@media (max-width: $md3+px) {
			font-size: 1.6rem;
			margin: 0px 0px 10px 0px;
		}
	}
	&__text {
		margin: 0px 0px 15px 0px;
	}
}
//========================================================================================================================================================
.featured-works {
	padding: 30px 0px 80px 0px;
	@media (max-width: $md3+px) {
		padding: 30px 0px 30px 0px;
	}
	&__container {
	}
	&__header {
	}
	&__title {
		margin: 0px 0px 20px 0px;
	}
	&__items {
		@media (max-width: $md3+px) {
			display: flex;
			overflow: auto;
			.works__item {
				flex: 0 0 90%;
				margin: 0px 15px 0px 0px;
			}
		}
	}
}
